#rr-survey-form-views {
  width:auto;
}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#rr-survey-form-views.ng-enter,
#rr-survey-form-views.ng-leave {
  position:absolute;
  left:30px;
  right:30px;
  transition:0.5s all ease;
}

#rr-survey-form-views.ng-enter {
  animation:slideInRight 0.5s both ease;
}

#rr-survey-form-views.ng-leave            {
  animation:slideOutLeft 0.5s both ease;
}

@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform:translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}