html,
body {
  height: 100vh;

  > div {
    display: flex;
    flex-direction: column;
  }
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: $textColor;
  font-size: 18px;

  *:focus {
    outline: none;
  }
}

b,
i {
  display: inline;
}

a {
  &,
  &:link,
  &:visited,
  &:focus {
    text-transform: uppercase;
    background: none;
    border: none;
    font-size: 18px;
    color: $linkColor;
    text-decoration: none;
    font-weight: normal;
    padding: 10px;
    display: inline-block;
  }

  &:active {
    background: rgba($linkColor, .1);
  }
}

.btn,
a.btn {
  background: $linkColor;
  border: none;
  font-size: 14px;
  color: white;
  border-radius: 3px;
  text-transform: none;
  font-weight: lighter;
  box-shadow: 0 2px 0 darken($linkColor, 10%);
  padding: 10px 20px;
  letter-spacing: 0.5px;
  margin: 50px 0 5px;
  position: relative;
  transition: all .2s ease;

  &:focus {
    top: 1px;
    box-shadow: 0 1px 0 #148f77;
  }

  &[disabled=disabled] {
    pointer-events: none;
    cursor: default;
    background: $lightText;
    box-shadow: 0 2px 0 darken($lightText, 10%);
    color: rgba(255,255,255,.75);
  }
}

code {
  font-family: 'menlo', monospace;
  background: $sidebarBg;
  margin: 10px 0 0;
  border-radius: 3px;
  padding: 20px 10px;
  text-align: left;
  font-size: 12px;
  display: block;
}

.form-group {
  input {
    color: $textColor;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgba($textColor, .3);
    width: auto;
    display: inline-block;
    min-width: 20px;
    font-weight: lighter;

    &[name="phone"] {
      border: none;
      color: $textColor;
    }

    &:focus {
      border-bottom-color: $inputColor;
      color: $inputColor;
    }
  }

  .input-group {
    white-space: nowrap;
  }
}

.text-center {
  text-align: center;
}