@media (min-width: 768px) {
  .rr-container {
    display: flex;
    flex: 1;
    height: 100vh;
    align-items: center;

    > header {
      flex: 1;
      background: $sidebarBg;
      height: 100vh;

      .rr-progress-bar {
        flex-direction: column;
        margin: 35vh 10vw 0;

        a {
          border: 2px solid $linkColor;
          border-top: none;
          padding: 20px 0px;

          &:first-child {
            border-top: 2px solid $linkColor;
          }

          span {
            display: none;
          }

          b {
            max-width: none;
            font-size: inherit;
            margin: 0;
          }

          &:before {
            display: none;
          }

          &.active {
            background: lighten($linkColor, 50%);
            position: relative;

            &:after, &:before {
              left: 100%;
              top: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              display: block;
              transform: none;
            }

            &:after {
              border-color: rgba(136, 183, 213, 0);
              border-left-color: lighten($linkColor, 50%);
              border-width: 31px;
              margin-top: -31px;
            }
            &:before {
              border-color: rgba(194, 225, 245, 0);
              border-left-color: $linkColor;
              border-width: 34px;
              margin-top: -34px;
              background: transparent;
            }

            ~ a {
              border-color: inherit;
            }
          }
        }
      }
    }

    > #rr-survey-form {
      flex: 1;
      height: 90vh;
      display: flex;
      padding: 40vh 5vw 5vh;

      .step-finish h2 {
        font-size: 20px;
      }
    }

    #rr-survey-form-views {
      margin-top: 0;
      display: flex;
      width: 100%;
      justify-content: center;

      .form-group a.bth {
        margin-top: 100px;
      }
    }
  }
}