.rr-container {
  width: 100%;
}
.rr-wizard {
  > div {
    flex: 1;
    height: 100vh;
    display: flex;
  }
}
.rr-progress-bar {
  display: flex;
  margin: 20px 0 0;

  a {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: $linkColor;
    opacity: 1;
    transition: all .2s ease;
    pointer-events: none;

    span {
      justify-content: center;
      width: 30px;
      border: 2px solid $linkColor;
      height: 30px;
      border-radius: 30px;
      align-items: center;
      line-height: 1.65em;
      background: white;
      position: relative;
      z-index: 1;
      transition: all .2s ease;
    }

    b {
      text-transform: none;
      font-weight: lighter;
      font-size: 12px;
      line-height: 1.25em;
      max-width: 80px;
      margin: 15px auto 0;
      transition: all .2s ease;
    }

    &::before {
      position: absolute;
      content: '';
      width: calc(100% - 33px);
      height: 2px;
      background: $linkColor;
      transform: translate(calc(50% + 17px), 15px);
      z-index: 0;
      left: 16px;
    }

    &:last-child::before {
      display: none;
    }

    &:active {
      background: none;
    }

    &.active {
      opacity: 1;
      color: $linkColor;

      span {
        transform: scale(1.5);
        border-color: $linkColor;
        background: lighten($linkColor, 50%);
      }

      &:before {
        background: linear-gradient(to right, $linkColor, $textColor);
      }

      ~ a {
        opacity: .5;
        color: $textColor;

        span {
          border-color: $textColor;
          background: white;
        }

        &:before {
          background: $textColor;
        }
      }
    }
  }
}

#rr-survey-form {
  position:relative;
  min-height:300px;
  overflow:hidden;
  padding:30px;
  padding: 20px 20px 0;

  h2 {
    font-size: 14px;
    margin: 20px 0 40px;
    font-style: italic;
    opacity: .65;
  }

  > section > div {
    line-height: 2em;
  }
}