<section ng-if="currentStage != 'finish'">
  <h2>{{stages[currentStage].description}}</h2>
  <form ng-submit="nextStep(formData)" name="form" novalidate>
    <div>
      <div class="form-group" ng-repeat="input in stages[currentStage].inputs">
        {{input.startText}}
        <span class="input-group" ng-if="input.type!='select'">
          {{input.prefix}}
          <input type="{{input.type}}"
                 name="{{input.name}}"
                 ng-model="formData[input.name]"
                 required
                 min="{{input.minChars}}"
                 max="{{input.maxChars}}"
                 step="{{input.step}}"
                 ng-bind="{{input.format}}"
                 ui-mask="{{input.mask}}"
          >

        </span>
        <country-select ng-model="formData[input.name]"
                        ng-if="input.type=='select'"
                        cs-required
                        required>
        </country-select>
        {{input.endText}}

      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn" ng-disabled="form.$invalid">
        Go to {{ stages[currentStage].id+1 }} step
      </button>
    </div>
  </form>
</section>

<section class="step-finish" ng-if="currentStage == 'finish'">
  <h1 style="margin-top: 10vh; line-height: 2em;">
    Thanks for your answers!<br>
    We will get back to you within 24 hours with our amazing product.
  </h1>
  <br>
  <p style="text-align:left;">
    <small>Data to be sent:</small>
  </p>
  <code>
<pre>
  {{formData | json}}
</pre>
  </code>
</section>