
<div class="rr-container">
  <header>
    <div class="rr-progress-bar" ng-cloak>
        <a ng-repeat="tab in stages"
           ui-sref-active="active"
           ui-sref="wizard.steps({stepId: tab.id})">
          <span>{{tab.id}}</span> <b>{{tab.title}}</b>
        </a>
    </div>
  </header>

  <div id="rr-survey-form">
    <div id="rr-survey-form-views" ui-view></div>
  </div>
</div>
